@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: white;
  --foreground: #222435;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #222435;
    --foreground: #cad3f2;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}
